/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_1.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_2.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_3.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_4.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_5.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_6.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_7.zip
/Python DB/Python ORM June 2024/03_Django_models_basics_exercise/orm_skeleton_8.zip
